*.log
*.bak
btop.log
htop/
Thunar/
aseprite/
chromium/
dconf/
godot/
google-chrome/
mimeapps.list
obsidian/
pavucontrol.ini
pulse/
transmission/
user-dirs.dirs
user-dirs.locale
viewnior/
waypaper/
wpg/
xfce4/
xsettingsd/
nwg-look/
Meltytech/
QtProject.conf
ghb/
hyprload.toml
kdeglobals
kdenlive-layoutsrc
kdenliverc
qt5ct
qt6ct/
ranger/
session/
nvim.backup/
nvim/1
tinted-theming/
fontforge/
base16-shell/
oomox/
fontconfig/
# swaync/
yay/
QtProject/
discord/
lazy-lock.lua
presets/
flameshot/
nautilus/
prism.lua
sakura-stardust.yaml
EOS-greeter.conf
alacritty/
reflector-simple-free-params.txt
systemd/
gh/
eww/
wofi/
waybar/
MusicBrainz/
state
gomp/
menus/
mods/
pid
lyrics/
ncmpcpp/config*
VSCodium/
libreoffice/
atuin/
skypeforlinux/
sway/
realesrgan-ncnn-vulkan
qalculate/
ArmCord/
autostart/
obs-studio/
syncthing/
ibus*
logseq*
Logseq/
fcitx*
mozc/
nvim/
spek/
sysfex/
neofetch/
notif.sh
ui_sound.sh
