{
  "special": {
    "background": "#{{base00-hex}}",
    "foreground": "#{{base05-hex}}",
    "cursor": "#{{base05-hex}}"
  },
  "colors": {
    "color0": "#{{base08-hex}}",
    "color1": "#{{base09-hex}}",
    "color2": "#{{base0A-hex}}",
    "color3": "#{{base0B-hex}}",
    "color4": "#{{base0C-hex}}",
    "color5": "#{{base0D-hex}}",
    "color6": "#{{base0E-hex}}",
    "color7": "#{{base0F-hex}}",
    "color8": "#{{base08-hex}}",
    "color9": "#{{base09-hex}}",
    "color10": "#{{base0A-hex}}",
    "color11": "#{{base0B-hex}}",
    "color12": "#{{base0C-hex}}",
    "color13": "#{{base0D-hex}}",
    "color14": "#{{base0E-hex}}",
    "color15": "#{{base0F-hex}}"
  }
}
