    --uc-base-colour: #{{base00-hex}};
    --uc-highlight-colour: #{{base01-hex}};
    --uc-inverted-colour: #{{base05-hex}};
    --uc-muted-colour: #{{base03-hex}};
    --uc-accent-colour: #{{base0A-hex}};
