
@import url("catppuccin-mocha.css");

#waybar {
    background-color: @crust;
    color: @text;
    font-family: "Roboto Mono", "JetBrainsMono Nerd Font",monospace;
    font-size: 16px;
}

/* Space first and last modules evenly */
.modules-right:last-child {
    margin-right: 4px;
}
.modules-left:first-child {
    margin-left: 4px;
}

/* Make all the NFs bigger */
/* #battery, */
#wifi-bluetooth
{
    font-size: 18px;
}

/* Active and inactive states */
#network.wifi {
    color: @text;
}
#network.disabled,
#network.disconnected,
#bluetooth.disabled,
#bluetooth.off
{
    color: alpha(@subtext0, 0.7);
}

/* Styling workspace */
#workspaces,
#workspaces button {
    all: unset;
}

/* Selecting every widget "group" */
#workspaces,
#battery,
#tray,
box.modules-right > box.horizontal {
    background-color: @mantle;
    /* border: red solid 1px; */
    border-radius: 4px;
    margin: 8px 4px;
    padding: 5px 10px;
}


#tray {
    background-color: transparent;
    padding: 0px 5px;
    margin: 0px;
}

/* Wifi module spaced away from bluetooth*/
#network {
    margin-right: 15px;
}

/* Styling the clock */
#clock.date {
    font-size: 14px;
    font-weight: normal;
    margin-left: 8px;
}
#clock.time {
    padding: 0px;
    font-weight: 500;
    font-size: 20px;
}

/* Styling tooltips */
tooltip {
    border-radius: 15px;
    background: @surface0;
}
tooltip > box {
    padding: 15px
}
tooltip label {
    color: @text;
}
