        -- Base16 Colorscheme: {{scheme-name}}
        -- Author: {{scheme-author}}
        color_overrides = {
          mocha = {
            base = "#{{base00-hex}}",
            mantle = "#{{base00-hex}}",
            crust = "#{{base00-hex}}",
            surface0 = "#{{base01-hex}}",
            surface1 = "#{{base01-hex}}",
            surface2 = "#{{base02-hex}}",
            overlay0 = "#{{base03-hex}}",
            overlay1 = "#{{base03-hex}}",
            overlay2 = "#{{base03-hex}}",
            subtext0 = "#{{base04-hex}}",
            subtext1 = "#{{base04-hex}}",
            text = "#{{base05-hex}}",

            rosewater = "#{{base08-hex}}",
            flamingo = "#{{base03-hex}}",
            pink = "#{{base04-hex}}",
            red = "#{{base0A-hex}}",
            maroon = "#{{base0A-hex}}",
            peach = "#{{base0C-hex}}",
            yellow = "#{{base0A-hex}}",
            green = "#{{base09-hex}}",
            teal = "#{{base05-hex}}",
            sky = "#{{base05-hex}}",
            sapphire = "#{{base04-hex}}",
            blue = "#{{base0D-hex}}",
            lavender = "#{{base0B-hex}}",
            mauve = "#{{base0A-hex}}",
          },
        },
