  foreground = '#{{base05-hex}}',
  background = '#{{base00-hex}}',

  cursor_bg = '#{{base05-hex}}',
  cursor_fg = '#{{base00-hex}}',

  cursor_border = '#{{base05-hex}}',

  scrollbar_thumb = '#{{base03-hex}}',
  split = '#{{base01-hex}}',

  ansi = {
    '#{{base00-hex}}',
    '#{{base08-hex}}',
    '#{{base0B-hex}}',
    '#{{base0A-hex}}',
    '#{{base0D-hex}}',
    '#{{base0E-hex}}',
    '#{{base0C-hex}}',
    '#{{base05-hex}}',
  },
  brights = {
    '#{{base00-hex}}',
    '#{{base08-hex}}',
    '#{{base0B-hex}}',
    '#{{base0A-hex}}',
    '#{{base0D-hex}}',
    '#{{base0E-hex}}',
    '#{{base0C-hex}}',
    '#{{base07-hex}}',
  },

  compose_cursor = '#{{base09-hex}}',

  tab_bar = {
    background = "#{{base00-hex}}",
    active_tab = {
      bg_color = "#{{base01-hex}}",
      fg_color = "#{{base05-hex}}",
      intensity = 'Normal',
      underline = 'Single',
      italic = true,
    },


    inactive_tab = {
      bg_color = "#{{base00-hex}}",
      fg_color = "#{{base04-hex}}",
    },

    inactive_tab_hover = {
      bg_color = "#{{base01-hex}}",
      fg_color = "#{{base04-hex}}",
    },

    new_tab = {
      bg_color = "#{{base0A-hex}}",
      fg_color = "#{{base00-hex}}",
    },

    new_tab_hover = {
      bg_color = "#{{base0B-hex}}",
      fg_color = "#{{base00-hex}}",
    },
  }
