M.base_30 = {
  white = "#cacaca",
  darker_black = "#080808",
  black = "#080808", --  nvim bg
  black2 = "#0e0e0e",
  one_bg = "#121212",
  one_bg2 = "#1c1c1c",
  one_bg3 = "#212121",
  grey = "#292929",
  grey_fg = "#363636",
  grey_fg2 = "#404040",
  light_grey = "#4a4a4a",
  red = "#{{base08-hex}}",
  baby_pink = "#{{base09-hex}}",
  pink = "#{{base0E-hex}}",
  line = "#1d1d1d", -- for lines like vertsplit
  green = "#{{base0B-hex}}",
  vibrant_green = "#{{base0B-hex}}",
  nord_blue = "#{{base0D-hex}}",
  blue = "#{{base0D-hex}}",
  seablue = "#{{base0C-hex}}",
  yellow = "#{{base0A-hex}}",
  sun = "#{{base09-hex}}",
  purple = "#{{base0E-hex}}",
  dark_purple = "#{{base0F-hex}}",
  teal = "#{{base0C-hex}}",
  orange = "#{{base09-hex}}",
  cyan = "#{{base0C-hex}}",
  statusline_bg = "#0e0e0e",
  lightbg = "#181818",
  pmenu_bg = "#{{base0D-hex}}",
  folder_bg = "#{{base0C-hex}}",
}

M.base_16 = {
  base00 = "#{{base00-hex}}",
  base01 = "#{{base01-hex}}",
  base02 = "#{{base02-hex}}",
  base03 = "#{{base03-hex}}",
  base04 = "#{{base04-hex}}",
  base05 = "#{{base05-hex}}",
  base06 = "#{{base06-hex}}",
  base07 = "#{{base07-hex}}",
  base08 = "#{{base08-hex}}", -- Confirmed: Variables Confirmed
  base09 = "#{{base09-hex}}", -- Confirmed: Integers, Booleans
  base0A = "#{{base0A-hex}}", -- Classes
  base0B = "#{{base0B-hex}}", -- Confirmed: Strings
  base0C = "#{{base0C-hex}}", -- Escape characters, Regular expressions
  base0D = "#{{base0D-hex}}", -- Functions, Methods
  base0E = "#{{base0E-hex}}", -- Confirmed: Keywords, Storage, Selector, Markup
  base0F = "#{{base0F-hex}}", -- Deprecated, Opening/Closing embedded language tags
}
