
.theme-dark {
  --background-primary: #{{base00-hex}};
  --background-primary-alt: #{{base00-hex}}
  --background-secondary: #{{base00-hex}}
  --background-secondary-alt: #{{base00-hex}};

  --text-normal: #{{base05-hex}};
  --text-muted: #{{base04-hex}};
  --text-faint: #{{base04-hex}};
  --text-accent: #{{base0A-hex}};
  --text-on-accent: #{{base01-hex}};

  --italic-color: #fff6dd;
  --bold-color: #eeeeee;
  --tag-color: #24cf00;
  --code-normal: #fb6666;
  --link-external-color: #bbcdff;
  --text-selection: #678ba6;

  --inline-title-color: #ffffff;
  --tab-text-color-focused-active-current: #6694e2;
  --icon-color-focused: #6694e2;
  --icon-color-hover: #6694e2;
  --nav-item-color-hover: #6694e2;
  --nav-item-background-active: #393939;
  --nav-file-tag: #f4ec9e;
  --nav-indentation-guide-color: #5f6148;
  --interactive-accent: #6f6f6f;
  --scrollbar-thumb-bg: #3f3e3e;
  --indentation-guide-color: #5f6148;
  --indentation-guide-color-active: #808261;

  --table-header-background: #2a2a2a;
  --table-row-alt-background: #141414;
}
