[Desktop Entry]
Name=Proton Experimental
Comment=Play this game on Steam
Exec=steam steam://rungameid/1493710
Icon=steam
Terminal=false
Type=Application
Categories=Game;
