	{
		-- Base16 Colorscheme: {{scheme-name}}
		-- Author: {{scheme-author}}
		name = "flavours",
		background = "#{{base00-hex}}",
		foreground = "#{{base05-hex}}",
		cursorline = "#{{base02-hex}}",
		comment = "#{{base04-hex}}",
		darker = "#{{base01-hex}}",
		cursor = "#{{base05-hex}}",
		black = "#{{base00-hex}}", -- useful when background is transparent
		color0 = "#{{base00-hex}}",
		color1 = "#{{base01-hex}}",
		color2 = "#{{base02-hex}}",
		color3 = "#{{base03-hex}}",
		color4 = "#{{base04-hex}}",
		color5 = "#{{base05-hex}}",
		color6 = "#{{base06-hex}}",
		color7 = "#{{base07-hex}}",
		color8 = "#{{base08-hex}}",
		color9 = "#{{base09-hex}}",
		color10 = "#{{base0A-hex}}",
		color11 = "#{{base0B-hex}}",
		color12 = "#{{base0C-hex}}",
		color13 = "#{{base0D-hex}}",
		color14 = "#{{base0E-hex}}",
		color15 = "#{{base0F-hex}}",
	},
