current
0: #{{base00-hex}}
1: #{{base08-hex}}
2: #{{base0B-hex}}
3: #{{base0A-hex}}
4: #{{base0D-hex}}
5: #{{base0E-hex}}
6: #{{base0C-hex}}
7: #{{base05-hex}}
8: #{{base03-hex}}
9: #{{base09-hex}}
10: #{{base0B-hex}}
11: #{{base0A-hex}}
12: #{{base0D-hex}}
13: #{{base0E-hex}}
14: #{{base0C-hex}}
15: #{{base07-hex}}
background: #{{base00-hex}}
foreground: #{{base05-hex}}
cursor: #{{base05-hex}}
